@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* ---------------------------------------------------------- */


/* I will be sectioning this code to make debugging and reading through a lot easier for myself and anybody that stumbles on this project */



/* ---------------------------------------------------------- */


.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #fff;
  color: black;

}

.nav-links a  {
  font-size: 12px;
  font-weight: 200;
  color: black;
}

.nav-links a:hover {
  color: white
}


.logo {
  height: 50px;
}

.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
  float: right;
}

.menu li:hover {
  background-color: #729343;
  border-radius: 5px;
  transition: 0.3s ease;
}

.menu li {
  padding: 5px 10px;
}

/* --------------------------------------------- */


input[type=checkbox] {
  display: none;
}

.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}


@media (max-width: 576px) {
  .menu {
    display: none;
    position: absolute;
    background-color: #fff;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }

  .menu li:hover {
    display: inline-block;
    background-color: #729343;
    transition: 0.3s ease;
  }

  .menu li + li {
    margin-top: 12px;
  }

  input[type=checkbox]:checked ~ .menu {
    display: block;
  }

  .hamburger {
    display: block;
  }
}


/* ---------------------------------------------------------- */

@media (max-width: 768px) {
  .menu {
    display: none;
    position: absolute;
    background-color: #fff;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }

  .menu li:hover {
    display: inline-block;
    background-color: #729343;
    transition: 0.3s ease;
  }

  .menu li + li {
    margin-top: 12px;
  }

  input[type=checkbox]:checked ~ .menu {
    display: block;
  }

  .hamburger {
    display: block;
  }
}